In [7]:
# importing the pandas module for
# data frame
!pip install pygam
import pandas as pd
import numpy as np
import lightgbm as lgb
import xgboost as xgb
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.arima.model import ARIMA
from pygam import LinearGAM
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Lasso
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score




# load the data set into train variable.
train = pd.read_csv('/kaggle/input/data-set-test/cars.csv')

# display top 5 values of data set
train.head()

Requirement already satisfied: pygam in /opt/conda/lib/python3.10/site-packages (0.9.1)
Requirement already satisfied: numpy>=1.25 in /opt/conda/lib/python3.10/site-packages (from pygam) (1.26.3)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from pygam) (4.3.2)
Requirement already satisfied: scipy<1.12,>=1.11.1 in /opt/conda/lib/python3.10/site-packages (from pygam) (1.11.4)
Requirement already satisfied: python-utils>=3.8.1 in /opt/conda/lib/python3.10/site-packages (from progressbar2<5.0.0,>=4.2.0->pygam) (3.8.1)
Requirement already satisfied: typing-extensions>3.10.0.2 in /opt/conda/lib/python3.10/site-packages (from python-utils>=3.8.1->progressbar2<5.0.0,>=4.2.0->pygam) (4.9.0)

         DateTime   Vehicles
0  1/11/2015 0:00          2
1  1/12/2015 0:00         10
2  1/13/2015 0:00          4
3  1/14/2015 0:00         22
4  1/15/2015 0:00         16

In [3]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11,2,11.0,6.0,0.0,1.0,2015.0,11.0,2.0
1,2015-01-12,10,12.0,0.0,0.0,1.0,2015.0,12.0,3.0
2,2015-01-13,4,13.0,1.0,0.0,1.0,2015.0,13.0,3.0
3,2015-01-14,22,14.0,2.0,0.0,1.0,2015.0,14.0,3.0
4,2015-01-15,16,15.0,3.0,0.0,1.0,2015.0,15.0,3.0

In [4]:
train.to_csv('file1.csv')

In [5]:

# display top 5 values of data set
train.head()

,DateTime,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11,2,11.0,6.0,0.0,1.0,2015.0,11.0,2.0
1,2015-01-12,10,12.0,0.0,0.0,1.0,2015.0,12.0,3.0
2,2015-01-13,4,13.0,1.0,0.0,1.0,2015.0,13.0,3.0
3,2015-01-14,22,14.0,2.0,0.0,1.0,2015.0,14.0,3.0
4,2015-01-15,16,15.0,3.0,0.0,1.0,2015.0,15.0,3.0

In [6]:
print(train.columns)

Index(['DateTime', ' Vehicles', 'date', 'weekday', 'hour', 'month', 'year',
       'dayofyear', 'weekofyear'],
      dtype='object')

In [7]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
train1 = train.drop([' Vehicles'], axis=1)

# class label is stored in target
target = train[' Vehicles']

print(train1.head())
target.head()

   date  weekday  hour  month    year  dayofyear  weekofyear
0  11.0      6.0   0.0    1.0  2015.0       11.0         2.0
1  12.0      0.0   0.0    1.0  2015.0       12.0         3.0
2  13.0      1.0   0.0    1.0  2015.0       13.0         3.0
3  14.0      2.0   0.0    1.0  2015.0       14.0         3.0
4  15.0      3.0   0.0    1.0  2015.0       15.0         3.0

0     2
1    10
2     4
3    22
4    16
Name:  Vehicles, dtype: int64

In [8]:
target = pd.read_csv('/kaggle/working/file1.csv')

# separating class label for training the data
train1 = train.drop(' Vehicles', axis=1)

# class label is stored in target
target = train[' Vehicles']

train1.head()
#target.head()

   date  weekday  hour  month    year  dayofyear  weekofyear
0  11.0      6.0   0.0    1.0  2015.0       11.0         2.0
1  12.0      0.0   0.0    1.0  2015.0       12.0         3.0
2  13.0      1.0   0.0    1.0  2015.0       13.0         3.0
3  14.0      2.0   0.0    1.0  2015.0       14.0         3.0
4  15.0      3.0   0.0    1.0  2015.0       15.0         3.0

In [10]:
traina = pd.read_csv('/kaggle/input/data-set-test/cars.csv')
traina.set_index('DateTime', inplace=True)
p, d, q = 1, 1, 1  # Example parameters, you need to choose based on your data
model = ARIMA(traina[' Vehicles'], order=(p, d, q))
model_fit = model.fit()

# Make predictions
# Specify the number of steps to forecast
forecast_steps = 10
forecast = model_fit.forecast(steps=forecast_steps)


# Plot the original data and the forecast
# plt.plot(traina.index, traina[' Vehicles'], label='Original Data')
# plt.plot(forecast.index, forecast, label='Forecast')
# plt.xlabel('Date')
# plt.ylabel('Vehicle Count')
# plt.legend()
# plt.show()

/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

In [51]:

# train1 = pd.read_csv('/kaggle/working/train1.csv')

# target = pd.read_csv('/kaggle/working/target.csv')
#importing Random forest
from sklearn.ensemble import RandomForestRegressor
#defining the RandomForestRegressor

# k = 3
# m1=RandomForestRegressor()
# from catboost import CatBoostRegressor
# m1 = CatBoostRegressor(loss_function='MAE',iterations=10000,verbose=False)

m1 = xgb.XGBRegressor(objective ='reg:squarederror', random_state=42,n_estimators=14)
# Training the model
#m1.fit(train1, target)
# m1 = LinearGAM().fit(train1, target)

# m1.fit(train1,target)
#testing
# m1.predict([[11,6,0,1,2015,11,2]])

In [52]:
X_train, X_test, y_train, y_test = train_test_split(train1, target, test_size=0.2, random_state=42)

# Create and train the model
# model = DecisionTreeClassifier(random_state=42)
m1.fit(X_train, y_train)
y_pred = m1.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 6.400664865970612
Mean Squared Error: 135.17937552090152
Root Mean Squared Error: 11.626666569610634
R-squared: 0.74152310856151

In [19]:
traina = pd.read_csv('/kaggle/input/data-set-test/cars.csv')
traina = traina.dropna()
traina.set_index('DateTime', inplace=True)

train_size = int(len(traina) * 0.8)
train, test = traina.iloc[:train_size], traina.iloc[train_size:]
p, d, q = 1, 1, 1  # Example parameters, you need to choose based on your data
model = ARIMA(train[' Vehicles'], order=(p, d, q))
model_fit = model.fit()

# Make predictions
# Specify the number of steps to forecast
forecast_steps = len(test)
forecast = model_fit.forecast(steps=forecast_steps)

mse = mean_squared_error(test[' Vehicles'],forecast)
# print('Mean Squared Error (MSE):', mse)

mae = mean_absolute_error(test[' Vehicles'],forecast)
# mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(test[' Vehicles'],forecast)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 19.9352070826176
Mean Squared Error: 612.987837331125
Root Mean Squared Error: 24.758591182277012
R-squared: 0.005595875158844965

/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

In [ ]:
traina = pd.read_csv('/kaggle/input/data-set-test/cars.csv')
traina = traina.dropna()
traina.set_index('DateTime', inplace=True)

train_size = int(len(traina) * 0.8)
train, test = traina.iloc[:train_size], traina.iloc[train_size:]
p, d, q = 1, 1, 1  # Example parameters, you need to choose based on your data
model = ARIMA(train[' Vehicles'], order=(p, d, q))
model_fit = model.fit()

# Make predictions
# Specify the number of steps to forecast
forecast_steps = len(test)
forecast = model_fit.forecast(steps=forecast_steps)

mse = mean_squared_error(test[' Vehicles'],forecast)
# print('Mean Squared Error (MSE):', mse)

mae = mean_absolute_error(test[' Vehicles'],forecast)
# mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(test[' Vehicles'],forecast)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

In [ ]:
traina = pd.read_csv('/kaggle/input/data-set-test/cars.csv')
traina = traina.dropna()
traina.set_index('DateTime', inplace=True)

train_size = int(len(traina) * 0.8)
train, test = traina.iloc[:train_size], traina.iloc[train_size:]
p, d, q = 1, 1, 1  # Example parameters, you need to choose based on your data
model = ARIMA(train[' Vehicles'], order=(p, d, q))
model_fit = model.fit()

# Make predictions
# Specify the number of steps to forecast
forecast_steps = len(test)
forecast = model_fit.forecast(steps=forecast_steps)

mse = mean_squared_error(test[' Vehicles'],forecast)
# print('Mean Squared Error (MSE):', mse)

mae = mean_absolute_error(test[' Vehicles'],forecast)
# mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(test[' Vehicles'],forecast)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

In [22]:
train2 = pd.read_csv('/kaggle/input/trafficvehiclesjunction/traffic.csv')
train2 = train2.dropna()
traina = train2[train2['Junction'] == 1]
traina.set_index('DateTime', inplace=True)

train_size = int(len(traina) * 0.8)
train, test = traina.iloc[:train_size], traina.iloc[train_size:]
p, d, q = 1, 1, 1  # Example parameters, you need to choose based on your data
model = ARIMA(train['Vehicles'], order=(p, d, q))
model_fit = model.fit()

# Make predictions
# Specify the number of steps to forecast
forecast_steps = len(test)
forecast = model_fit.forecast(steps=forecast_steps)

mse = mean_squared_error(test['Vehicles'],forecast)
# print('Mean Squared Error (MSE):', mse)

mae = mean_absolute_error(test['Vehicles'],forecast)
# mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(test['Vehicles'],forecast)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency h will be used.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency h will be used.
  self._init_dates(dates, freq)
/opt/conda/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency h will be used.
  self._init_dates(dates, freq)

Mean Absolute Error: 21.683420687170276
Mean Squared Error: 759.2846707838197
Root Mean Squared Error: 27.555120590986707
R-squared: -0.3614638846031921