In [10]:
# importing the pandas module for
# data frame
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score




# load the data set into train variable.
train = pd.read_csv('traffic.csv')
train = train.drop('ID', axis=1)

# display top 5 values of data set
train.head()

              DateTime  Junction  Vehicles
0  2015-11-01 00:00:00         1        15
1  2015-11-01 01:00:00         1        13
2  2015-11-01 02:00:00         1        10
3  2015-11-01 03:00:00         1         7
4  2015-11-01 04:00:00         1         9

In [11]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [12]:
train.to_csv('file1.csv')

In [13]:

# display top 5 values of data set
# train = train[train['Junction'] == 1]
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [14]:
# train = train.drop(['Junction'], axis=1)
print(train.columns)

Index(['DateTime', 'Junction', 'Vehicles', 'date', 'weekday', 'hour', 'month',
       'year', 'dayofyear', 'weekofyear'],
      dtype='object')

In [15]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
train1 = train.drop(['Vehicles'], axis=1)

# class label is stored in target
target = train['Vehicles']

print(train1.head())
target.head()

   Junction  date  weekday  hour  month  year  dayofyear  weekofyear
0         1     1        6     0     11  2015        305          44
1         1     1        6     1     11  2015        305          44
2         1     1        6     2     11  2015        305          44
3         1     1        6     3     11  2015        305          44
4         1     1        6     4     11  2015        305          44

0    15
1    13
2    10
3     7
4     9
Name: Vehicles, dtype: int64

In [16]:
target = pd.read_csv('file1.csv')

# separating class label for training the data
train1 = train.drop('Vehicles', axis=1)

# class label is stored in target
target = train['Vehicles']

train1.head()
#target.head()

   Junction  date  weekday  hour  month  year  dayofyear  weekofyear
0         1     1        6     0     11  2015        305          44
1         1     1        6     1     11  2015        305          44
2         1     1        6     2     11  2015        305          44
3         1     1        6     3     11  2015        305          44
4         1     1        6     4     11  2015        305          44

In [17]:

# train1 = pd.read_csv('/kaggle/working/train1.csv')
# train1 = train1.fillna(train1.mean())
# target = pd.read_csv('/kaggle/working/target.csv')
#importing Random forest
# from sklearn.ensemble import RandomForestRegressor
from keras.models import Sequential
from keras.layers import Dense, GRU, LSTM
from sklearn.preprocessing import StandardScaler

#defining the RandomForestRegressor
# m1=RandomForestRegressor()
X = train1.values
y = target.values

import warnings
warnings.filterwarnings("ignore")


# m1.fit(train1,target)
#testing
# m1.predict([[11,6,0,1,2015,11,2]])

In [18]:

from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)


# from tensorflow.keras.layers import GRU, LSTM




# model = Sequential()
# model.add(LSTM(units=50, input_shape=(X_train.shape[1], X_train.shape[2])))
# model.add(GRU(units=50, input_shape=(X_train.shape[1], X_train.shape[2])))
# model.add(Dense(units=1))


# import numpy as np
# import pandas as pd
# from sklearn.model_selection import train_test_split


# Assuming df is your pandas DataFrame with features and target variable
# X = df.drop('target_variable_column_name', axis=1)
# y = df['target_variable_column_name']

# Split data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Number of models in the ensemble
num_models = 5

# Initialize lists to store predictions from each model
rf_predictions = []
xgb_predictions = []

# Train Random Forest and XGBoost models
for _ in range(num_models):
    # Random Forest model
    rf_model = RandomForestRegressor()
    rf_model.fit(X_train, y_train)
    rf_pred = rf_model.predict(X_test)
    rf_predictions.append(rf_pred)
    
    # XGBoost model
    xgb_params = {'objective': 'reg:squarederror', 'eval_metric': 'rmse'}
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dtest = xgb.DMatrix(X_test)
    xgb_model = xgb.train(xgb_params, dtrain)
    xgb_pred = xgb_model.predict(dtest)
    xgb_predictions.append(xgb_pred)

# Average the predictions
bagged_rf_pred = np.mean(rf_predictions, axis=0)
bagged_xgb_pred = np.mean(xgb_predictions, axis=0)

# Evaluate performance
rf_mse = mean_squared_error(y_test, bagged_rf_pred)
xgb_mse = mean_squared_error(y_test, bagged_xgb_pred)
rf_mae = mean_absolute_error(y_test, bagged_rf_pred)
xgb_mae = mean_absolute_error(y_test, bagged_xgb_pred)
rf_rmse = np.sqrt(rf_mse)
xgb_rmse = np.sqrt(xgb_mse)
rf_r2score = r2_score(y_test, bagged_rf_pred)
xgb_r2score = r2_score(y_test, bagged_xgb_pred)

print("Random Forest:")
print("MSE:", rf_mse)
print("MAE:", rf_mae)
print("RMSE:", rf_rmse)
print("R2_score:", rf_r2score)

print("\nXGBoost:")
print("MSE:", xgb_mse)
print("MAE:", xgb_mae)
print("RMSE:", xgb_rmse)
print("R2_score:", xgb_r2score)

Random Forest:
MSE: 12.244771408977558
MAE: 2.3567306733167084
RMSE: 3.499252978705249
R2_score: 0.9699549276467927

XGBoost:
MSE: 31.503813447588513
MAE: 3.4449916017719437
RMSE: 5.612825798792308
R2_score: 0.9226988954860549