In [1]:
# importing the pandas module for
# data frame
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score




# load the data set into train variable.
train = pd.read_csv('/kaggle/input/vehicle-count/traffic.csv')
train = train.drop('ID', axis=1)

# display top 5 values of data set
train.head()

              DateTime  Junction  Vehicles
0  2015-11-01 00:00:00         1        15
1  2015-11-01 01:00:00         1        13
2  2015-11-01 02:00:00         1        10
3  2015-11-01 03:00:00         1         7
4  2015-11-01 04:00:00         1         9

In [2]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [3]:
train.to_csv('file1.csv')

In [5]:

# display top 5 values of data set
# train = train[train['Junction'] == 1]
train.head()

,DateTime,Junction,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-11-01 00:00:00,1,15,1,6,0,11,2015,305,44
1,2015-11-01 01:00:00,1,13,1,6,1,11,2015,305,44
2,2015-11-01 02:00:00,1,10,1,6,2,11,2015,305,44
3,2015-11-01 03:00:00,1,7,1,6,3,11,2015,305,44
4,2015-11-01 04:00:00,1,9,1,6,4,11,2015,305,44

In [6]:
# train = train.drop(['Junction'], axis=1)
print(train.columns)

Index(['DateTime', 'Junction', 'Vehicles', 'date', 'weekday', 'hour', 'month',
       'year', 'dayofyear', 'weekofyear'],
      dtype='object')

In [7]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
# train1 = train.drop(['Vehicles'], axis=1)

# class label is stored in target
train = train['Vehicles']

In [8]:
print(train)

0        15
1        13
2        10
3         7
4         9
         ..
48115    11
48116    30
48117    16
48118    22
48119    12
Name: Vehicles, Length: 48120, dtype: int64

In [7]:
target = pd.read_csv('/kaggle/working/file1.csv')

# separating class label for training the data
train1 = train.drop('Vehicles', axis=1)

# class label is stored in target
target = train['Vehicles']

train1.head()
#target.head()

   Junction  date  weekday  hour  month  year  dayofyear  weekofyear
0         1     1        6     0     11  2015        305          44
1         1     1        6     1     11  2015        305          44
2         1     1        6     2     11  2015        305          44
3         1     1        6     3     11  2015        305          44
4         1     1        6     4     11  2015        305          44

In [8]:

# train1 = pd.read_csv('/kaggle/working/train1.csv')
# train1 = train1.fillna(train1.mean())
# target = pd.read_csv('/kaggle/working/target.csv')
#importing Random forest
from sklearn.ensemble import RandomForestRegressor

#defining the RandomForestRegressor
m1=RandomForestRegressor()

# m1.fit(train1,target)
#testing
# m1.predict([[11,6,0,1,2015,11,2]])

In [9]:
X_train, X_test, y_train, y_test = train_test_split(train1, target, test_size=0.2, random_state=42)

# Create and train the model
# model = DecisionTreeClassifier(random_state=42)
m1.fit(X_train, y_train)
y_pred = m1.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 2.358199293433084
Mean Squared Error: 12.332203210723192
Root Mean Squared Error: 3.5117236808614645
R-squared: 0.96974039568685

In [9]:
print(train.values)

[15 13 10 ... 16 22 12]

In [12]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, GRU
from sklearn.model_selection import train_test_split
# data_normalized = (data - data.min(axis=0)) / (data.max(axis=0) - data.min(axis=0))
data=train.values
# Define a function to create sequences of past observations
def create_sequences(data, seq_length):
    X, y = [], []
    for i in range(len(data) - seq_length):
        X.append(data[i:i+seq_length])  # Past observations
        y.append(data[i+seq_length])    # Next observation (count of vehicles)
    return np.array(X), np.array(y)

# Define the sequence length (number of past observations to consider)
seq_length = 48  # You want to use the past 7 observations

# Create sequences of past observations
X, y = create_sequences(train.values, seq_length)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)
# Define the LSTM + GRU model with a TimeDistributed layer
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, Dense, Activation, Flatten

def tcn_model(input_shape, num_filters, kernel_size):
    model = Sequential([
        Conv1D(filters=num_filters, kernel_size=kernel_size, padding='causal', activation='relu', input_shape=input_shape),
        Conv1D(filters=num_filters, kernel_size=kernel_size, padding='causal', activation='relu'),
        Conv1D(filters=num_filters, kernel_size=kernel_size, padding='causal', activation='relu'),
        Flatten(),
        Dense(1)
    ])
    return model

# Example usage:
input_shape = (seq_length, 1)  # Define input shape according to your data
num_filters = 64  # Number of filters in the convolutional layers
kernel_size = 3   # Kernel size for the convolutional layers
num_classes = 10  # Number of output classes

model = tcn_model(input_shape, num_filters, kernel_size)
model.compile(optimizer='adam', loss='mae')


# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=1)

# Evaluate the model on the test set
loss = model.evaluate(X_test, y_test)
print("Test Loss:", loss)

# Once trained, you can use this model to predict future observations
# For example, if you have new data X_new with shape (n_samples, seq_length, n_features), you can predict as follows:
# y_pred = model.predict(X_new)

Epoch 1/50

/opt/conda/lib/python3.10/site-packages/keras/src/layers/convolutional/base_conv.py:99: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(

1202/1202 ━━━━━━━━━━━━━━━━━━━━ 7s 3ms/step - loss: 4.3355
Epoch 2/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.8246
Epoch 3/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.6928
Epoch 4/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.7158
Epoch 5/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.6845
Epoch 6/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.6538
Epoch 7/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5990
Epoch 8/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.6095
Epoch 9/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5966
Epoch 10/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5750
Epoch 11/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5873
Epoch 12/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5606
Epoch 13/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.5791
Epoch 14/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5606
Epoch 15/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5196
Epoch 16/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5522
Epoch 17/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4980
Epoch 18/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4816
Epoch 19/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.5127
Epoch 20/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4624
Epoch 21/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4686
Epoch 22/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4692
Epoch 23/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4265
Epoch 24/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4649
Epoch 25/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4385
Epoch 26/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.4859
Epoch 27/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4528
Epoch 28/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4457
Epoch 29/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4293
Epoch 30/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4078
Epoch 31/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4574
Epoch 32/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4328
Epoch 33/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4384
Epoch 34/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4346
Epoch 35/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4309
Epoch 36/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4083
Epoch 37/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4519
Epoch 38/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4408
Epoch 39/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.4064
Epoch 40/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4223
Epoch 41/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3997
Epoch 42/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3943
Epoch 43/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3830
Epoch 44/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3791
Epoch 45/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3865
Epoch 46/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.4269
Epoch 47/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3595
Epoch 48/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3751
Epoch 49/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3703
Epoch 50/50
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2.3786
301/301 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3.1124
Test Loss: 2.6554818153381348